@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
        flex-flow: column wrap;
        justify-content: center;
}

ul {
    list-style-type: none;
}

.card {
    max-width: 168px;
    display: flex;
        flex-direction: column;
        align-items: center;
    text-align: center;
}

.card-container {
    display: flex;
        gap: 5rem;
}

.card-subtext {
    margin-top: .5rem;
    color: #464647;
}

.footer {
    display: flex;
        justify-content: center;
        align-items: center;
}

.footer .container {
    color: #E5E7EB;
    padding: 2rem;
}

.hero .container {
    display: flex;
        justify-content: space-around;
        align-items: center;
    padding: 5rem;
}

.hero-btn,
.bottom-btn {
    background-color: #3882F6;
    padding: .5rem 1.8rem;
    border-radius: .8rem;
    border: 2px solid #E5E7EB;
    color: #E5E7EB;
    font-weight: bolder;
}

.hero-btn:hover,
.bottom-btn:hover {
    background-color: #E5E7EB;
    color: #3882F6;
}

.hero-content {
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    max-width: 520px;
}

.hero-heading {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-img {
    width: 520px;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.8);
    border-radius: 1rem;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.information .container {
    margin: 0;
    padding: 5rem;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.info-heading {
    margin-bottom: 5rem;
    padding: .5rem;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.nav {
    margin-right: 10px;
    display: flex;
        gap: 10px;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.navbar a:hover {
    color: #3882F6;
}

.navbar .container {
    display: flex;
        justify-content: space-between;
        align-items: center;
    height: 60px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    margin-left: 10px;
}

.quote {
    background-color: #E5E7EB;
}

.quote .container {
    font-size: 2.5rem;
    text-align: center;
    padding: 5rem;
}

.quote .container blockquote {
    display: inline-block;
    text-align: start;
    max-width: 60%;
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.sign-up {
    display: flex;
        justify-content: center;
        align-items: center;
    padding: 3rem;
}

.sign-up .container {
    display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    padding: 5rem;
    background-color: #3882F6;
    border-radius: 1rem;
}

.sign-up .action-heading {
    font-size: 24px;
    margin-bottom: .25rem;
    color: #E5E7EB;
}

.sign-up .action-text {
    color: #cfd1d4;
}

.square {
    background: url(img/main-bg.jpg);
    background-size: cover;
    height: 168px;
    width: 168px;
    border: 5px solid blue;
    border-radius: 15px;
    box-shadow: 0 .25rem .5rem rgba(0,0,0,0.8);
}

.navbar,
.hero,
.footer {
    background-color: #1F2937;
}